# Python SQL Tutorial

Mark V. Andersen

August 2019

### Prerequisites and Setup
Prerequisite: Getting Started with Data Analytics Tutorial

**Download**: chinook.db file
**Install**: sqlalchemy with conda before running jupyter

### Objectives

* Learn how to retrieve SQL data into a dataframe
* Learn how to perform merges (equivalent to SQL joins) with dataframes
* Optionally: Practice making charts with data


### Summary

chinook.db is a sample SQLite database which contains information about music.  Learning how to query a SQLLite database with SQL creates transferrable skills for querying other databases with SQL.

The database includes tables with albums, artists, tracks, genres, and more.  In this tutorial you will create dataframes from several tables, and then merge these dataframes, and create charts.  Along the way you will see how outer joins work with pandas.

This tutorial is based on a disk based sql database (SQLLite) which is said to be the most common sql database in the world today.  SQLLite is used to make this tutorial accessible to all users.

Your own database may be accessed with adoptions of this code.  You may find in your own instance that you have to install pyodbc or another driver.

This tutorial is inspired by:
* http://www.sqlitetutorial.net/sqlite-python/sqlite-python-select/
* http://www.sqlitetutorial.net/sqlite-sample-database/ - db schema for chinook.db

In [ ]:
# Verify the libraries are installed:
import sqlite3
from sqlite3 import Error
import pandas as pd
import sqlalchemy

# If this step causes an error you may have to shut down jupyter, install needed libraries and relaunch again.

## Connect to the database chinhook.db

Note: Wihout a specified path, sqllite will search for database in the same directory which contains this notebook.

In [ ]:
# Run
# Create a connection to the database for the tutorial
database = "chinook.db"
conn = sqlite3.connect(database)

## Simple query verifies we can access the chinook database

You should see five rows of data on albums when you run the cell below

In [ ]:
# Run this
cur = conn.cursor()
cur.execute("SELECT * FROM albums limit 5")
rows = cur.fetchall()
for row in rows:
    print(row)

# Warmup Exercises: Strings, Lists, Print (with f-strings)

Lists are fundamental to python.

Run each of these cells and review what they are doing.

In [ ]:
# strings v. lists

# - Strings
# strings have single quotes:
this_is_a_string = 'myfullname'
# or double quotes if you prefer:
this_is_also_a_string = "myfullname"

# - Lists
# lists are denoted with square brackets and contain objects which could be strings or numbers:
this_is_a_list = ['my', 'full', 'name']
this_is_also_a_list = [1, 2, 3, 4]
this_is_a_mixed_list = [1, 'happy', 2, 'sad']
# PEP8 defines standards for syntax and spacing in python.  Spaces after commas are standard for lists (see above).

# - Print out the string and list variables
print('Variables:')
print(this_is_a_string)
print(this_is_a_list)
print(this_is_a_mixed_list)

# - type function
# we can check the type of any object with the type command:
print()
print('Types:')
print(f'this_is_a_string has type: {type(this_is_a_string)}')
print(f'this_is_a_list has type: {type(this_is_a_list)}')
print(f'this_is_a_mixed_list has type: {type(this_is_a_mixed_list)}')

# the print statements above used f-strings
# f-strings allow you to mix literal text and computed python variables in {}'s

In [ ]:
# lists can be accessed by selecting an element with an indexer in square brackets, where item [0] is the first
# aka zero-based-indexing:
columns = ['a', 'b', 'c', 'd']
print(f'Columns is: {columns}')
print(f'First element of columns: {columns[0]}')

# f-strings:
#  Note the f in front of the string causes it to look for the curly braces inside
#  and then it runs the code in the curly braces
#
i = 2
print(f'This is element {i} of the string named columns: {columns[i]}')

#### Iteration over lists in python

In [ ]:
# How to iterate in python
#
# Notice that when you do a loop or function it is one level indented and there is a mandatory colon for the line
# which introduces the loop
for i in columns:
    print(i)

#### Iteration over a string in python -- be careful to notice what you have

In [ ]:
# The same iteration code would work over a string, but produces different results
#
# When you use pandas if you pass in a string where a list is expected you may encounter a KeyError
# becuase it looks for a letter in the column name when you intended to get the whole column name.
#
# Watch out for whether functions require a list or string as you use pandas.
#
columns = 'myfullname'
for i in columns:
    print(i)

# Main Exercises: SQL Syntax With Pandas

## Exercise 1: Retrieve "albums" table into pandas dataframe

In [ ]:
# Run sample code and examine the info() about the DataFrame
sql_query = 'select * from albums'
albums_df = pd.read_sql(sql_query, conn)
print(albums_df.info())

## Exercise 2: Create a new dataframe for "artists" table

* Create the dataframe artists_df, holding rows from the artists table

In [ ]:
# Use example above, but this time the datatable is called artists
# Your code

## Exercise 3: Merge the albums and artists dataframes

* Pandas join function supports several types of joins, most importantly 'inner' and 'left'
* Invoke the join function on one dataframe (the left one) and pass in the right dataframe.  
* left_on can specify the column in the left dataframe for joining
* right_on can specify the column in the right dataframe for joining
* *indicator=True* will cause a column called _merge to be created with the results of the join
* Assign the merged data to a new dataframe

In [ ]:
# Run this sample code to merge albums and artists into a new DataFrame
album_artists_df = albums_df.merge(artists_df, 
                                   how='left', 
                                   left_on='ArtistId', 
                                   right_on='ArtistId', 
                                   indicator=True)
album_artists_df.info()

## Exercise 4: Print out the frequency distribution for the column: _merge

* Hint: value_counts()

In [ ]:
# Your code here

## Exercise 5: Review the _merge counts and then drop that column from the DataFrame.

* Confirm that there were no nulls merged with the left join (all records are 'both').
* Now the _merge column does not look interesting to keep around
* Drop the column in one of two ways.  Either:
  * call the drop function and ensure that the column actually is dropped (notice the inplace argument)
  * paste in the merge again below but this time with the indicator off and perhaps using the inner join rather than left join (since all records matched).

* Pandas documentation for drop: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html
* Pandas documentation for merge: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

Notes:
* Notice that the drop command takes a list of columns to drop

In [ ]:
# Your code here

## Exercise 6: Load the "tracks" db table into a dataframe

In [ ]:
# Your code here

## Exercise 7: Merge the tracks with the album_artists_df above

* Do a left join with a merge indicator


* Note: You cannot have a second _merge indicator if you already have one.  You may need to drop that column first.

In [ ]:
# Your code here

## Exercise 8: Clean up the Name field

* Notice that Name_x and Name_y fields exist when you look at info
* Both tables had a column called Name before the merge
  * Name_x is from the left dataframe
  * Name_y is from the right dataframe

* Print out the Name fields and notice how the contents are different
* Rename one of the fields to a more logical name prior to running a join
* Repeat the join so you have two differently named fields which make more sense than Name_x and Name_y
* You can accomplish this either here, or by going back above before the merge

In [ ]:
# Your code here

## Exercise 9: Import table "genres" into a dataframe

* Print out the Genres from this new dataframe and notice what they are

In [ ]:
# Your code here

## Exercise 10: Merge the genres into the prior dataframe

* Note: You cannot have a second _merge indicator if you already have one.  You may need to drop that column first.

In [ ]:
# Your code here

## End of Main Exercises



# Additional Exercises to Gain Experience

## Exercise 11: Scatter plot milliseconds v. bytes

* Use the merged dataframe from earlier exericses

Hint: pandas has a plot.scatter() function

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# your code here

## Exercise 12: Make two charts: one for Rock and one for non-Rock genres

* Color the points red if the genre = "Rock"
* Color the points blue if the genre != "Rock"
* Set the figsize to (12,10) so it's larger

Hint: You will need to call plot twice to make two charts.

Recall: Get a subset of a dataframe using [] conditions.

In [ ]:
# Your code

## Exercise 13: Combine the two plots into a single plot

* By capturing the return from the first plot as a variable and then passing that in as the ax argument to the second
plot you can cause the plots to superimpose

In [ ]:
# Your code

## Exercise 14: Repeat but trim outliers out of the chart

Hint: slice the data

In [ ]:
# Your code

## Exercise 15: Save the figure to disk

* If you want to get fancy, add a title, xlabel, ylabel; set the font size for them, improve the tick indicators on the axes

In [ ]:
# Your code

## Exercise 16: Histogram number of tracks of each genre

* This may be a bit tricky.  An option is a group by and count.  Another is to do a crosstab and plot that.

In [ ]:
# Your code